<section class="tab ce-cockpit-tab ce-cockpit-log {{#if tabs.log.active}}active{{/if}}" data-tab="log" data-group="primary">
  <div class="ce-cockpit-log__header">
    <button type="button" data-action="beginSession">{{localize "CE.cockpit.log.beginSession"}}</button>
    <button type="button" data-action="endSession" {{#unless hasCurrentSession}}disabled{{/unless}}>{{localize "CE.cockpit.log.endSession"}}</button>
  </div>

  {{#if hasCurrentSession}}
  <div class="ce-cockpit-log__quickadd">
    <input type="text" id="ce-quick-add-input" placeholder="{{localize "CE.cockpit.log.quickAddPlaceholder"}}" />
    <button type="button" data-action="quickAddEvent" data-uuid="{{currentSessionUuid}}">{{localize "CE.cockpit.log.quickAdd"}}</button>
  </div>
  {{/if}}

  <div class="ce-group-break"></div>

  {{#if sessions.length}}
  <ul class="ce-cockpit-list">
    {{#each sessions}}
    <li class="ce-cockpit-log-row">
      <a data-action="openDoc" data-uuid="{{this.uuid}}">{{this.name}}</a>
      {{#if this.date}}<span class="ce-cockpit-note">{{this.date}}</span>{{/if}}
      {{#if this.currentChip}}
        <span class="ce-chip ce-chip--{{this.currentChip.tone}}">{{this.currentChip.text}}</span>
      {{else}}
        <button type="button" data-action="setLogCurrent" data-uuid="{{this.uuid}}">{{localize "CE.cockpit.log.setCurrent"}}</button>
      {{/if}}
      {{#if this.recapPreview}}<p class="ce-cockpit-note">{{this.recapPreview}}</p>{{/if}}
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="ce-cockpit-empty">{{localize "CE.cockpit.log.empty"}}</p>
  {{/if}}
</section>
